
body{
    background-color: bisque;
}
#about{
    margin-left: 280px;
    margin-bottom: 60px;
}
h2{
    font-variant: small-caps;
}
#about p{
    margin: 25px;
    text-align: justify;
}
#about #about_data{
    display: flex;
    justify-content: space-around;
}
#about #about_data img{
    padding: 20px;
    padding-top: 1px;
    width: 240px;
    height: 260px;
}
#about #about_data #about_details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#skill{
    width: 100%;
}
#skill ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    column-gap: 2%;
}
#skill li {
    margin-bottom: 10px;
    width: 49%;
}
.skill-bar {
    width: 100%;
    background-color: #ddd;
    height: 15px;
    border-radius: 5px;
    overflow: hidden;
}
.java-bar, .spring-bar, .sql-bar, .html-bar, .css-bar{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    line-height: 15px;
}

@media only screen and (max-width: 768px) {
    #about{
        margin-left: 10px;
        margin-bottom: 0px;
    }  
    #about #about_data{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #skl1{
        width: 100%;
    }
    #skl2{
        width: 100%;
    }
    #skill{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #skill li{
        width: 100%;
    }
}
