
body{
    background-color: bisque;
}
#home{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 280px;
}
h1{
    font-variant: small-caps;
}
#home1{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
hr{
    margin-right: 25px;
    color: black;
    background-color: black;
    height: 2px;
}
#home_part1{
    margin-top: 150px;
}
#home_part2 img{
    width: 350px;
    height: 450px;
    padding: 5px;
}
@media only screen and (max-width: 768px) {
    #home{
        margin-left: 10px;
    }
    #home1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #home_part1{
        margin-top: 0px;
    }
}
