
body{
    background-color: bisque;
}
#projects{
    margin-top: 1px;
    margin-left: 280px;
    margin-bottom: 80px;
}
#projects h3{
    font-variant: small-caps;
}
.project_l, .project_r{
    display: flex;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 85%;
    margin-bottom: 10px;
}
.project_r{
    margin-left: 100px;    
}
.project_l img, .project_r img{
    width: 200px;
    height: 150px;
    border-radius: 15px;
    border: 1px solid black;
}
@media only screen and (max-width: 768px) {
    #projects{
        margin-left: 10px;
    }  
    .project_l, .project_r{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .project_r{
        margin-left: 0px;
    }
}
